.customButton {
  font-size: 20px;
  letter-spacing: 1.25px;
  font-weight: var(--ff-bold);
  color: var(--primary-white);
  border: none;
  border-radius: 15px;
  background-color: var(--primary-blue);
  padding: 0 35px;
  height: 67px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 5px 0 0 var(--third-bg-color);
  font-family: 'Chakra Petch', sans-serif;
}

.customButton:hover {
  background-color: var(--primary-azure);
}
